<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @open="create" @close="close" top="7vh">
        <form autocomplete="off" @submit.prevent="clickAddItem">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.item_id}">
                            <label class="control-label">
                                Producto/Servicio
                                <a href="#" @click.prevent="showDialogNewItem = true">[+ Nuevo]</a>
                            </label>
                            <el-select v-model="form.item_id" @change="changeItem" filterable
                                       popper-class="el-select-items"
                                       dusk="item_id"
                                       @visible-change="focusTotalItem">
                                <el-option v-for="option in items" :key="option.id" :value="option.id" :label="option.full_description"></el-option>
                            </el-select>
                            <small class="form-control-feedback" v-if="errors.item_id" v-text="errors.item_id[0]"></small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.affectation_igv_type_id}">
                            <label class="control-label">Afectación Igv</label>
                            <el-select v-model="form.affectation_igv_type_id" :disabled="!change_affectation_igv_type_id" filterable>
                                <el-option v-for="option in affectation_igv_types" :key="option.id" :value="option.id" :label="option.description"></el-option>
                            </el-select>
                            <el-checkbox v-model="change_affectation_igv_type_id">Editar</el-checkbox>
                            <small class="form-control-feedback" v-if="errors.affectation_igv_type_id" v-text="errors.affectation_igv_type_id[0]"></small>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group" :class="{'has-danger': errors.quantity}">
                            <label class="control-label">Cantidad</label>
                            <el-input-number v-model="form.quantity" :min="0.01" :disabled="form.item.calculate_quantity"></el-input-number>
                            <small class="form-control-feedback" v-if="errors.quantity" v-text="errors.quantity[0]"></small>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group" :class="{'has-danger': errors.unit_price_value}">
                            <label class="control-label">Precio Unitario</label>
                            <el-input v-model="form.unit_price_value" @input="calculateQuantity">
                                <template slot="prepend" v-if="form.item.currency_type_symbol">{{ form.item.currency_type_symbol }}</template>
                            </el-input>
                            <small class="form-control-feedback" v-if="errors.unit_price_value" v-text="errors.unit_price[0]"></small>
                        </div>
                    </div>
                    <!--<div class="col-md-3 center-el-checkbox">-->
                        <!--<div class="form-group" :class="{'has-danger': errors.has_igv}">-->
                            <!--<el-checkbox v-model="form.has_igv">Incluye Igv</el-checkbox><br>-->
                            <!--<small class="form-control-feedback" v-if="errors.has_igv" v-text="errors.has_igv[0]"></small>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-md-3 col-sm-6" v-show="form.item.calculate_quantity">
                        <div class="form-group"  :class="{'has-danger': errors.total_item}">
                            <label class="control-label">Total venta producto</label>
                            <el-input v-model="total_item" @input="calculateQuantity" :min="0.01" ref="total_item">
                                <template slot="prepend" v-if="form.item.currency_type_symbol">{{ form.item.currency_type_symbol }}</template>
                            </el-input>
                            <small class="form-control-feedback" v-if="errors.total_item" v-text="errors.total_item[0]"></small>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2" v-if="form.item.warehouses">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Ubicación</th>
                                <th class="text-right">Stock</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="row in form.item.warehouses">
                                <th>{{ row.warehouse_description }}</th>
                                <th class="text-right">{{ row.stock }}</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 mt-2">
                        <el-collapse v-model="activePanel">
                            <el-collapse-item title="Información adicional atributos UBL 2.1" name="1">
                                <!--<div>-->
                                    <!--<div class="row">-->
                                        <div v-if="discount_types.length > 0">
                                            <label class="control-label">
                                                Descuentos
                                                <a href="#" @click.prevent="clickAddDiscount">[+ Agregar]</a>
                                            </label>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Descripción</th>
                                                    <th>Porcentaje</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(row, index) in form.discounts">
                                                    <td>
                                                        <el-select v-model="row.discount_type_id" @change="changeDiscountType(index)">
                                                            <el-option v-for="option in discount_types" :key="option.id" :value="option.id" :label="option.description"></el-option>
                                                        </el-select>
                                                    </td>
                                                    <td>
                                                        <el-input v-model="row.description"></el-input>
                                                    </td>
                                                    <td>
                                                        <el-input v-model="row.percentage"></el-input>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger" @click.prevent="clickRemoveDiscount(index)">x</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div v-if="charge_types.length > 0">
                                            <label class="control-label">
                                                Cargos
                                                <a href="#" @click.prevent="clickAddCharge">[+ Agregar]</a>
                                            </label>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Descripción</th>
                                                    <th>Porcentaje</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(row, index) in form.charges">
                                                    <td>
                                                        <el-select v-model="row.charge_type_id" @change="changeChargeType(index)">
                                                            <el-option v-for="option in charge_types" :key="option.id" :value="option.id" :label="option.description"></el-option>
                                                        </el-select>
                                                    </td>
                                                    <td>
                                                        <el-input v-model="row.description"></el-input>
                                                    </td>
                                                    <td>
                                                        <el-input v-model="row.percentage"></el-input>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger" @click.prevent="clickRemoveCharge(index)">x</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div v-if="attribute_types.length > 0">
                                            <label class="control-label">
                                                Atributos
                                                <a href="#" @click.prevent="clickAddAttribute">[+ Agregar]</a>
                                            </label>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Descripción</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(row, index) in form.attributes">
                                                    <td>
                                                        <el-select v-model="row.attribute_type_id" filterable @change="changeAttributeType(index)">
                                                            <el-option v-for="option in attribute_types" :key="option.id" :value="option.id" :label="option.description"></el-option>
                                                        </el-select>
                                                    </td>
                                                    <td>
                                                        <el-input v-model="row.value"></el-input>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger" @click.prevent="clickRemoveAttribute(index)">x</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    <!--</div>-->
                                <!--</div>-->
                            </el-collapse-item>
                        </el-collapse>
                        <!--<section class="card mb-2 card-transparent card-collapsed" id="card-section">-->
                                <!--<header class="card-header hoverable bg-light border-top rounded-0 py-1" data-card-toggle style="cursor: pointer;" id="card-click">-->
                                    <!--<div class="card-actions" style="margin-top: -12px;">-->
                                        <!--<a href="#" class="card-action card-action-toggle text-info" data-card-toggle=""></a>-->

                                    <!--</div>-->

                                    <!--<p class="pl-1">Información adicional atributos UBL 2.1</p>-->
                                <!--</header>-->
                                <!--<div class="card-body px-0" style="display: none;">-->
                                    <!--<div class="col-md-12 px-0" v-if="discount_types.length > 0">-->
                                        <!--<label class="control-label">-->
                                            <!--Descuentos-->
                                            <!--<a href="#" @click.prevent="clickAddDiscount">[+ Agregar]</a>-->
                                        <!--</label>-->
                                        <!--<table class="table">-->
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th>Tipo</th>-->
                                                <!--<th>Descripción</th>-->
                                                <!--<th>Porcentaje</th>-->
                                                <!--<th></th>-->
                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <!--<tbody>-->
                                            <!--<tr v-for="(row, index) in form.discounts">-->
                                                <!--<td>-->
                                                    <!--<el-select v-model="row.discount_type_id" @change="changeDiscountType(index)">-->
                                                        <!--<el-option v-for="option in discount_types" :key="option.id" :value="option.id" :label="option.description"></el-option>-->
                                                    <!--</el-select>-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--<el-input v-model="row.description"></el-input>-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--<el-input v-model="row.percentage"></el-input>-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--<button type="button" class="btn btn-danger" @click.prevent="clickRemoveDiscount(index)">x</button>-->
                                                <!--</td>-->
                                            <!--</tr>-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-12 px-0" v-if="charge_types.length > 0">-->
                                        <!--<label class="control-label">-->
                                            <!--Cargos-->
                                            <!--<a href="#" @click.prevent="clickAddCharge">[+ Agregar]</a>-->
                                        <!--</label>-->
                                        <!--<table class="table">-->
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th>Tipo</th>-->
                                                <!--<th>Descripción</th>-->
                                                <!--<th>Porcentaje</th>-->
                                                <!--<th></th>-->
                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <!--<tbody>-->
                                            <!--<tr v-for="(row, index) in form.charges">-->
                                                <!--<td>-->
                                                    <!--<el-select v-model="row.charge_type_id" @change="changeChargeType(index)">-->
                                                        <!--<el-option v-for="option in charge_types" :key="option.id" :value="option.id" :label="option.description"></el-option>-->
                                                    <!--</el-select>-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--<el-input v-model="row.description"></el-input>-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--<el-input v-model="row.percentage"></el-input>-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--<button type="button" class="btn btn-danger" @click.prevent="clickRemoveCharge(index)">x</button>-->
                                                <!--</td>-->
                                            <!--</tr>-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-12 px-0" v-if="attribute_types.length > 0">-->
                                        <!--<label class="control-label">-->
                                            <!--Atributos-->
                                            <!--<a href="#" @click.prevent="clickAddAttribute">[+ Agregar]</a>-->
                                        <!--</label>-->
                                        <!--<table class="table">-->
                                            <!--<thead>-->
                                            <!--<tr>-->
                                                <!--<th>Tipo</th>-->
                                                <!--<th>Descripción</th>-->
                                                <!--<th></th>-->
                                            <!--</tr>-->
                                            <!--</thead>-->
                                            <!--<tbody>-->
                                            <!--<tr v-for="(row, index) in form.attributes">-->
                                                <!--<td>-->
                                                    <!--<el-select v-model="row.attribute_type_id" filterable @change="changeAttributeType(index)">-->
                                                        <!--<el-option v-for="option in attribute_types" :key="option.id" :value="option.id" :label="option.description"></el-option>-->
                                                    <!--</el-select>-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--<el-input v-model="row.value"></el-input>-->
                                                <!--</td>-->
                                                <!--<td>-->
                                                    <!--<button type="button" class="btn btn-danger" @click.prevent="clickRemoveAttribute(index)">x</button>-->
                                                <!--</td>-->
                                            <!--</tr>-->
                                            <!--</tbody>-->
                                        <!--</table>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</section>-->
                    </div>
                </div>
            </div>
            <div class="form-actions text-right pt-2">
                <el-button @click.prevent="close()">Cerrar</el-button>
                <el-button class="add" type="primary" native-type="submit" v-if="form.item_id">Agregar</el-button>
            </div>
        </form>
        <item-form :showDialog.sync="showDialogNewItem"
                   :external="true"></item-form>
    </el-dialog>
</template>

<script>

    import ItemForm from '../../items/form.vue'
    import {calculateRowItem} from '../../../../helpers/functions'

    export default {
        props: ['showDialog', 'operationTypeId', 'currencyTypeIdActive', 'exchangeRateSale'],
        components: {ItemForm},
        data() {
            return {
                titleDialog: 'Agregar Producto o Servicio',
                resource: 'documents',
                showDialogNewItem: false,
                errors: {},
                form: {},
//                categories: [],
//                all_items: [],
                items: [],
                operation_types: [],
                all_affectation_igv_types: [],
                affectation_igv_types: [],
                system_isc_types: [],
                discount_types: [],
                charge_types: [],
                attribute_types: [],
                use_price: 1,
                change_affectation_igv_type_id: false,
                activePanel: 0,
                total_item: 0
            }
        },
        created() {
            this.initForm()
            this.$http.get(`/${this.resource}/item/tables`).then(response => {
//                this.categories = response.categories
                this.items = response.data.items 
                this.operation_types = response.data.operation_types
                this.all_affectation_igv_types = response.data.affectation_igv_types
                this.system_isc_types = response.data.system_isc_types
                this.discount_types = response.data.discount_types
                this.charge_types = response.data.charge_types
                this.attribute_types = response.data.attribute_types
                // this.filterItems()

            })

            this.$eventHub.$on('reloadDataItems', (item_id) => {
                this.reloadDataItems(item_id)
            })
        },
        methods: {
            filterItems(){
                this.items = this.items.filter(item => item.warehouses.length >0)
            },
            initForm() {
                this.errors = {}
                this.form = {
//                    category_id: [1],
                    item_id: null,
                    item: {},
                    affectation_igv_type_id: null,
                    affectation_igv_type: {},
                    has_isc: false,
                    system_isc_type_id: null,
                    percentage_isc: 0,
                    suggested_price: 0,
                    quantity: 1,
                    unit_price_value: 0,
                    unit_price: 0,
                    charges: [],
                    discounts: [],
                    attributes: [],
                    has_igv: null
                }
                this.activePanel = 0
                this.total_item = 0

            },
            // initializeFields() {
            //     this.form.affectation_igv_type_id = this.affectation_igv_types[0].id
            // },
            create() {
                let operation_type = _.find(this.operation_types, {id: this.operationTypeId})
                this.affectation_igv_types = _.filter(this.all_affectation_igv_types, {exportation: operation_type.exportation})
                // this.initializeFields()
            },
            clickAddDiscount() {
                this.form.discounts.push({
                    discount_type_id: null,
                    discount_type: null,
                    description: null,
                    percentage: 0,
                    factor: 0,
                    amount: 0,
                    base: 0
                })
            },
            clickRemoveDiscount(index) {
                this.form.discounts.splice(index, 1)
            },
            changeDiscountType(index) {
                let discount_type_id = this.form.discounts[index].discount_type_id
                this.form.discounts[index].discount_type = _.find(this.discount_types, {id: discount_type_id})
            },
            clickAddCharge() {
                this.form.charges.push({
                    charge_type_id: null,
                    charge_type: null,
                    description: null,
                    percentage: 0,
                    factor: 0,
                    amount: 0,
                    base: 0
                })
            },
            clickRemoveCharge(index) {
                this.form.charges.splice(index, 1)
            },
            changeChargeType(index) {
                let charge_type_id = this.form.charges[index].charge_type_id
                this.form.charges[index].charge_type = _.find(this.charge_types, {id: charge_type_id})
            },
            clickAddAttribute() {
                this.form.attributes.push({
                    attribute_type_id: null,
                    description: null,
                    value: null,
                    start_date: null,
                    end_date: null,
                    duration: null,
                })
            },
            clickRemoveAttribute(index) {
                this.form.attributes.splice(index, 1)
            },
            changeAttributeType(index) {
                let attribute_type_id = this.form.attributes[index].attribute_type_id
                let attribute_type = _.find(this.attribute_types, {id: attribute_type_id})
                this.form.attributes[index].description = attribute_type.description
            },
            close() {
                this.initForm()
                this.$emit('update:showDialog', false)
            },
            changeItem() {
                this.form.item = _.find(this.items, {'id': this.form.item_id})
                this.form.unit_price_value = this.form.item.sale_unit_price
                this.form.has_igv = this.form.item.has_igv
                this.form.affectation_igv_type_id = this.form.item.sale_affectation_igv_type_id
                this.form.quantity = 1
                this.cleanTotalItem()
            },
            focusTotalItem(change) {
                if(!change && this.form.item.calculate_quantity) {
                    this.$refs.total_item.$el.getElementsByTagName('input')[0].focus()
                }
            },
            calculateQuantity() {
                if(this.form.item.calculate_quantity) {
                    this.form.quantity = _.round((this.total_item / this.form.unit_price_value), 4)
                }
            },
            cleanTotalItem(){
                this.total_item = null  
            }, 
            clickAddItem() {
                if(this.validateTotalItem().total_item)
                    return

                let unit_price = (this.form.has_igv)?this.form.unit_price_value:this.form.unit_price_value*1.18

                this.form.unit_price = unit_price
                this.form.item.unit_price = unit_price
                this.form.affectation_igv_type = _.find(this.affectation_igv_types, {'id': this.form.affectation_igv_type_id})
                this.row = calculateRowItem(this.form, this.currencyTypeIdActive, this.exchangeRateSale)
                this.initForm()
                //this.initializeFields()
                this.$emit('add', this.row)
            },
            validateTotalItem(){

                this.errors = {} 

                if(this.form.item.calculate_quantity){
                    if(this.total_item < 0.01)
                        this.$set(this.errors, 'total_item', ['total venta item debe ser mayor a 0.01']);
                } 

                return this.errors 
            }, 
            reloadDataItems(item_id) {
                this.$http.get(`/${this.resource}/table/items`).then((response) => {
                    this.items = response.data
                    this.form.item_id = item_id
                    this.changeItem()
                    // this.filterItems()
                })
            },
        }
    }

</script>